<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}- Projet2</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Projet2</a>
        <!-- <a href="#">À propos</a> -->
        <a href="{{ url_for('bibliotheque') }}">Bibliothèque</a>
        <a href="{{ url_for('create') }}">Ajouter un livre</a>
        <a href="{{ url_for('creerCompte') }}">Créer un compte</a>
    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>
</html>
