{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Bibliothèque {% endblock %}</h1>
    <div class="accordion" id="accordionBibliotheque">
    {% for book in books %}
    <!-- Revoir avec Loïc pour changer les id de H2 et les reference comme headingOne et collapseOne -->
        <div class="accordion-item" id="{{book[0]}}">
            <h2 class="accordion-header" id="heading{{ book[0] }}">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ book[0] }}" aria-expanded="true" aria-controls="collapse{{ book[0] }}">
                    #{{ book[0] }} - {{ book[1] }} PAR {{ book[2] }}
                </button>
            </h2>
            <div id="collapse{{ book[0] }}" class="accordion-collapse collapse" aria-labelledby="heading{{ book[0] }}" data-bs-parent="#accordionBibliotheque">
                <div class="accordion-body">
                    <i><p>({{ book[3] }} pages)</p></i>
                    <p class='review'>{{ book[4] }}</p>
                    <i><p>Ajouté {{ book[5] }}</p></i>
                    <button id="{{ book[0] }}" class="delete btn btn-primary">Supprimer</button>
                </div>
            </div>
        </div>
        
        <!-- <h3>#{{ book[0] }} - {{ book[1] }} PAR {{ book[2] }}</h3>
        <div class='book'>  
            <i><p>({{ book[3] }} pages)</p></i>
            <p class='review'>{{ book[4] }}</p>
            <i><p>Ajouté {{ book[5] }}</p></i>
            <button id="{{ book[0] }}" class="delete btn btn-primary">Supprimer</button>
        </div>
    -->
    {% endfor %}
    </div>

{% endblock %}